#container{
  border: 1px solid black;
  width: 960px;
  padding: 20px;
  margin: 0 auto;
}

header{
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

main{
  border: 1px solid black;
  width: 620px;
  padding: 20px;
  margin-bottom: 20px;
  float: left;
  height: 250px;
}

aside{
  border: 1px solid black;
  width: 240px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  float: right;
  height: 250px;
}

footer{
  border: 1px solid black;
  padding: 10px;
  clear: both;
}