#container{
        width: 600px;
        /* 바깥여백 : 0 auto; */
        /* 바깥여백을 반갈해서 알아서 양쪽으로 나눠줘라 */
        margin: 0 auto;
        border:  1px solid rgb(0, 0, 0);
        padding: 20px;

        table, th, td {
          border: 1px solid black;
        }
      }

      .one{
        border: 1px solid black;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }

      .one img{
        float: left;
        width: 150px;
        height: 220px;
        margin: 20px;
        line-height: 220px;
      }

      .two{
        border: 1px solid black;
        margin-top: 5px;
        padding: 10px;
        overflow: hidden;
      }

      .two img{
        float: right;
        width: 130px;
      }

      iframe{
        margin-top: 5px;
        width: 100%;
      }
      
      .four{
        border: 1px solid black;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }

      .four h3{
        margin-left: 10px;
      }

      table{
        margin: 0 auto;
        margin-bottom: 10px;
        width: 70%;
        border-collapse: collapse;
        text-align: center;
      }

      table th{
        background-color: beige;
      }

      table .onerow{
        background-color: rgb(230, 230, 218);
      }